:root {
	--borderColor: transparent;
	--opacityArticleTitle: 0;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	/* background-color: #20CE99; */
	/* background-color: #006464; */
	/* background: linear-gradient(90deg, rgba(0,57,100,1) 0%, rgba(0,100,100,1) 68%); */
	background-color: black;
	background-image: none;
	/* background-image: linear-gradient(90deg, rgb(44, 32, 38) 0%, rgb(91, 98, 107) 100%); */

	transition: background-color .3s ease-in-out;
	color: white;
	min-height: 100vh;

	overflow-y: scroll;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

::selection {
	background-color: rgba(255, 255, 255, .8);
	color: black;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.container-wide {
	max-width: 1920px;
	margin: 0 auto;
}


/* LOGO
 =================================== */

.logo {
	margin: 50px 0 45px;
}

.logo a {
	color: inherit;
	text-decoration: none;
}

.logo img {
	max-height: 30px;
	opacity: .7;
	transition: none;
}

.logo img:hover {
	opacity: 1;
	cursor: url("../static/images/cursors/cursor_focus.svg") 60 60, auto;
}

.logo img:focus,
.logo img:active {
	cursor: pointer;
	border: 1px solid #999999;
	padding: 10px 15px 15px;
	margin: -11px 0 -16px -16px;
	transition: none;
}


/* FONTS
 =================================== */

/* Headings */

@font-face {
	font-family: 'Shark Grotesk DB Cyr Medium 22';
	src: url("../static/fonts/Sharp-Grotesk-DB-Cyr-Medium.otf") format("opentype");
}

/* General */

@font-face {
	font-family: 'SF Pro Display Heavy';
	src: url("../static/fonts/SFProDisplay-Heavy.otf") format("opentype");
}

@font-face {
	font-family: 'SF Pro Display Medium';
	src: url("../static/fonts/SFProDisplay-Medium.otf") format("opentype");
}

@font-face {
	font-family: 'SF Pro Display Regular';
	src: url("../static/fonts/SFProDisplay-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'SF Pro Display Thin';
	src: url("../static/fonts/SFProDisplay-Thin.otf") format("opentype");
}


/* PROMO SECTION
 =================================== */

.promo {
	cursor: url("../static/images/cursors/cursor_right.svg") 60 60, auto;
	background: none;

	border-radius: 15px;
	margin: 1rem auto 3rem;
	padding: 40px 0;

	position: relative;
	z-index: 49;
}

.promo.switching {
	cursor: url("../static/images/cursors/cursor_wait.svg") 60 60, auto;
}

.promo:active,
.promo:focus {
	cursor: url("../static/images/cursors/cursor_right_focus.svg") 60 60, auto;
}

.promo.visible {
	background:
		/* top, transparent black, faked with gradient */
		linear-gradient(
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.6)
		),
		/* bottom image  */
		url('../static/images/promo/landing2.png');
}

.promo.visible {
	background-position: 0 1650px;
	background-repeat: no-repeat;
}

.promo.ready {
	background-repeat: repeat !important;
}

.promo.ready:hover {
	background:
		/* top, transparent black, faked with gradient */
		linear-gradient(
			rgba(0, 0, 0, 0.62),
			rgba(0, 0, 0, 0.62)
		),
		/* bottom image  */
		url('../static/images/promo/landing2.png');
}


/*
.promo:hover {
	outline: 4px solid rgba(255, 255, 255, .15);
	transition: .2s;
}
*/

.promo h1 {
	visibility: hidden;

	position: relative;
	overflow: hidden;

	font-family: 'Sharp Grotesk DB Cyr Medium 22', serif;

	font-size: 60pt;
	font-weight: bold;
	line-height: 65pt;
	padding: 6rem .25em .15em 50px;

	margin: 0;
	max-width: 850px;

	color: white;
}

.promo h1 span {
	color: #e191d7;
}

.promo button {
	visibility: hidden;
	text-transform: none;

	margin: 2rem 0 6rem 50px;
	background-color: #FAEBF8;
}

.promo button img {
	height: 1rem;
	margin-bottom: -0.08rem;
	margin-left: .25rem;
}


/* DASHBOARD SECTION
 =================================== */

.dashboard {
	margin-top: 10px;
}

.dashboard .scrolldown {
	margin: 0 auto 25px;
}

.dashboard .scrolldown img {
	height: 100px;
}

.dashboard > .card {
	background-color: #222222;
	border-radius: 15px;
	padding: 40px 50px;
	transform: scale(1);
}

.dashboard > .card .description {
	opacity: .6;
	transition: opacity .2s;
}

.dashboard > .card:hover .description {
	opacity: 1;
	transition: opacity .2s;
}

.dashboard > .card:hover {
	cursor: url("../static/images/cursors/cursor_right.svg") 60 60, auto;
	z-index: 99;
}

.dashboard > .card:focus,
.dashboard > .card:active {
	cursor: url("../static/images/cursors/cursor_right_focus.svg") 60 60, auto;
	z-index: 99;

	transform: scale(.99);
	transition: .2s transform;
}

.dashboard > .card.article.article-big > div.thumbnail {
	max-width: calc(100% + 20px);
	border-radius: 15px 0 0 15px;
	margin: -40px 0 -40px -50px;
	background-position: center;
	background-size: 1000px;
	height: calc(100% + 80px);
	transition: background-size .25s;
}

.dashboard > .card.article.article-big:hover > div.thumbnail {
	background-size: 1025px;
	transition: background-size .25s;
}

.dashboard > .card.article > div.thumbnail {
	max-width: calc(100% + 200px);
	height: 300px;
	border-radius: 15px 15px 0 0;
	margin: -40px -50px -40px -50px;
	background-position: center;
	background-size: 1000px;
	transition: background-size .25s;
}

.dashboard > .card.article:hover > div.thumbnail {
	background-size: 1025px;
	transition: background-size .25s;
}

.dashboard > .card.article.span-1 > div.thumbnail {
	background-size: 500px;
	transition: background-size .25s;
}

.dashboard > .card.article.span-1:hover > div.thumbnail {
	background-size: 525px;
	transition: background-size .25s;
}

.dashboard > .separator {
	opacity: .8;
	width: calc(100% - 20px);
	text-align: center;
	border-top: 1px solid #555555;
	line-height: 0;
	margin: 15px 0 18px 10px;
}

.dashboard > .separator span {
	padding: 0 15px;
	background-color: black;
	font-family: 'SF Pro Display Regular', sans-serif;
	color: #777777;
	text-transform: uppercase;
}

.dashboard > .card img#cover_webdev {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 15px;
	height: 450px;
	z-index: -1;
	opacity: .4;
	filter: blur(5px);
}

.dashboard > .card img#cover_design {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 15px;
	height: 480px;
	z-index: -1;
	opacity: .2;
	filter: blur(5px);
}

.dashboard > .card img#cover_stories {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 15px;
	height: 360px;
	z-index: -1;
	opacity: .1;
	filter: blur(0px);
}

.dashboard > .card img#cover_future {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 15px;
	width: 100%;
	z-index: -1;
	opacity: .125;
}

.dashboard > .card img#cover_charity {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 15px;
	width: 100%;
	z-index: -1;
	opacity: .125;
}

.dashboard > .card img#cover_windmill {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 15px;
	width: 100%;
	z-index: -1;
	opacity: .125;
}

.dashboard > .card h2 {
	font-family: 'Sharp Grotesk DB Cyr Medium 22', sans-serif;
	line-height: 65pt;
	font-size: 50pt;
	margin: 0;
	hyphens: auto;
	word-wrap: break-word;
}

.dashboard > .card.article.article-big h3 {
	font-family: 'Sharp Grotesk DB Cyr Medium 22', sans-serif;
	font-size: 36pt;
	line-height: 47pt;
	color: white;
	margin: 3px 0 40px -280px;
	background-color: #1F1F1F;
	box-shadow: #111111 5px 10px 100px;
	padding: 30px 40px;
	border-radius: 15px;
}

.dashboard > .card.article.article-big .details {
	margin: -.8rem 0 1.25rem;
}

.dashboard > .card.article h3 {
	font-family: 'Sharp Grotesk DB Cyr Medium 22', sans-serif;
	font-size: 32pt;

	margin: 1.25rem 0;
	line-height: 42pt;
	color: white;
	border-radius: 15px;
}

.dashboard > .card p {
	font-family: 'SF Pro Display Medium', sans-serif;
	color: #BFBFBF;
	max-width: 700px;
	font-size: 14pt;
}

.dashboard > .card.article p {
	max-width: none;
	font-family: 'SF Pro Display Regular', sans-serif;
}

.dashboard > .card.article .details {
	display: block;
	margin: 4.2rem 0 1.25rem;
}

.dashboard > .card.article .details ul.tags {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dashboard > .card.article .details ul.tags li {
	display: inline-block;
	margin-right: 10px;
	padding: 5px 15px;
	background-color: rgba(255, 255, 255, .75);
	color: black;
	font-family: 'SF Pro Display Heavy', sans-serif;
	border-radius: 5px;
	backdrop-filter: blur(15px);
}

.dashboard > .card.article .timestamp p {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'SF Pro Display Heavy', sans-serif;
	color: #555555;
	letter-spacing: .05rem;
}


.dashboard > .card p.cutoff {
	max-height: 250px;
	overflow-y: scroll;
	padding-right: 20px;
}

.dashboard > .card p.cutoff p {
	margin-top: 0;
}

.dashboard > .card p.cutoff.long {
	max-height: 300px;
}

.dashboard > .card p.cutoff::-webkit-scrollbar-track {
	background: #666666;
	border-radius: 15px;
}

.dashboard > .card p.cutoff::-webkit-scrollbar-thumb {
	background: #999999;
	border-radius: 15px;
}

.dashboard > .card p.cutoff::-webkit-scrollbar-thumb:hover {
	background: white;
}

.dashboard > .card p.cutoff::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 15px;
	background: linear-gradient(transparent 250px, rgba(34, 34, 34, 1));
}

.dashboard > .card p.cutoff.stdsmall::before {
	background: linear-gradient(transparent 450px, rgba(34, 34, 34, 1));
}

.dashboard > .card p.cutoff.long::before {
	background: linear-gradient(transparent 500px, rgba(34, 34, 34, 1));
}

.dashboard > .card p.cutoff.blue::before {
	background: linear-gradient(transparent 250px, rgba(24, 38, 58, 1));
}

.dashboard > .card p.tags {
	color: rgba(255, 255, 255, .45);
	font-family: 'SF Pro Display Thin', sans-serif;
}


/* Grid System */

.grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

.grid .span-2 {
	grid-column: span 2;
}

.grid .span-3 {
	grid-column: span 3;
}


/* HEADER
 =================================== */

header {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	position: relative;
	z-index: 99;
}

.nav {
	margin-top: 2.5rem;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	white-space: nowrap;
	margin: -5px -20px 0 0;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	display: block;
	color: #C6C6C6;
	padding: 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'SF Pro Display Regular', sans-serif;
	letter-spacing: .5pt;
	font-size: 18pt;
	text-shadow: none;
}

/* -- Change font for active item
.nav ul li a.active::before,
.nav ul li a.active span {
	font-family: 'Montserrat', sans-serif;
}
*/

.nav ul li a span {
	display: block;
	pointer-events: none;
	-webkit-transition: transform .3s, opacity .15s;
	-moz-transition: transform .3s, opacity .15s;
	transition: transform .3s, opacity .15s;
}

.nav ul li a:hover {
	cursor: url("../static/images/cursors/cursor_focus.svg") 60 60, auto;
}

.nav ul li a:active,
.nav ul li a:focus {
	cursor: url("../static/images/cursors/cursor.svg") 60 60, auto;
}

.nav ul li a.active span,
.nav ul li a:hover span,
.nav ul li a:focus span {
	color: #F2F2F2;
	display: block;
	transform: translateY(-.375em);
	-webkit-transition: transform .2s ease, opacity .15s;
	-moz-transition: transform .2s ease, opacity .15s;
	transition: transform .2s ease, opacity .15s;
	mix-blend-mode: difference;
}

.nav ul li a::before {
	display: block;
	opacity: 0;
	color: white;
	content: attr(data-hover);
	position: absolute;
	transform: scale(1, -1);
	-webkit-transition: -webkit-transform .3s, opacity .15s;
	-moz-transition: -moz-transform .3s, opacity .15s;
	transition: transform .3s, opacity .15s;
}

.nav ul li a.active::before,
.nav ul li a:hover::before,
.nav ul li a:focus::before {
	display: block;
	transform: translateY(.375em) scale(1, -1);
	opacity: .4;
	-webkit-transition: -webkit-transform .2s ease-out, opacity .15s;
	-moz-transition: -moz-transform .2s ease-out, opacity .15s;
	transition: transform .2s ease-out, opacity .15s;
	mix-blend-mode: difference;
}


/* PORTFOLIO
 =================================== */

.portfolio .intro {
	display: flex;
	margin: 7.5rem 0 0 13rem;
}

.portfolio .intro img {
	width: 37.5%;
	height: auto;
	filter: grayscale(1);
	overflow: hidden;
	position: relative;
	display: inline-block;
	transition: .2s filter;
	border-radius: 15px;
}

.portfolio .intro img:hover {
	cursor: url("../static/images/cursors/cursor_magnify.svg") 60 60, auto;

	filter: none;
	transition: .2s filter;
}

.portfolio .intro .title {
	margin-left: 4rem;
	margin-top: -5rem;
}

.portfolio .intro .title h1 {
	position: relative;

	font-family: 'Shark Grotesk DB Cyr Medium 22', sans-serif;
	font-size: 132pt;
	max-width: 780px;
	line-height: 125pt;
}

.portfolio .intro .title h1 .letter {
	display: inline-block;
}

.portfolio .intro .title p.roles {
	position: relative;
	margin-top: -7rem;
	margin-left: 2.5rem;

	font-family: 'SF Pro Display Thin', sans-serif;
	font-size: 35pt;
	letter-spacing: .15rem;
	text-transform: uppercase;
}

.portfolio .intro .title p:before {
	position: absolute;
	content: '';
	margin: .65rem 0 0 -2rem;
	border-left: 2px solid;
	border-color: var(--borderColor);
	height: 2100%;
	z-index: 0;
}

.portfolio .intro .title p .role {
	opacity: 0;
	position: relative;
	display: block;
}

.portfolio .intro .title p .role a {
	text-decoration: none;
	color: inherit;
	opacity: .6;
	display: inline-block;
	transition: .2s transform;
}

.portfolio .intro .title p .role a:hover,
.portfolio .intro .title p .role a.active {
	transform: translateX(10px);
	transition: .2s transform;
}


/* Portfolio Sections */

.portfolio > section {
	margin: 20rem 0;
}

.portfolio > section:not(.intro) {
	display: flex;
	margin-top: 10rem;
	margin-bottom: 10rem;
	padding: 120px 0;
}

.portfolio > section:not(.intro) .image img {
	cursor: url("../static/images/cursors/cursor_magnify.svg") 60 60, auto;

	width: 100%;
	filter: grayscale(1);
	transition: .2s filter;
	border-radius: 15px;

}

.portfolio > section:not(.intro) .image img:hover {
	filter: none;
	transition: .2s filter;
}

.portfolio > section:not(.intro) .title {
	z-index: 99;
}

.portfolio > section:not(.intro) .title h2 {
	position: absolute;
	font-family: 'Aesthico', sans-serif;
	font-size: 90pt;
	line-height: 125pt;
}

.portfolio > section:not(.intro) .title .description {
	margin-top: 33rem;
	font-size: 20pt;
	font-family: 'SF Pro Display Regular', sans-serif;
}

.portfolio > section:not(.intro) .title .logos img {
	padding: 10px 15px;
	max-height: 60px;
	width: auto;
}

.portfolio > section:last-child {
	margin-bottom: 7.5rem;
}


/* Portfolio Section: Right */

.portfolio .right {
	margin-right: 10rem;
}

.portfolio .right .image {
	width: 60rem;
}

.portfolio .right .title {
	margin: 3rem 1.5rem 0 0;
}

.portfolio .right .title h2 {
	text-align: right;
	margin-left: 4rem;
}

.portfolio .right .title .description {
	color: #DFDFDF;
	float: right;
}

.portfolio .right .title .logos {
	margin: 2.5rem 2rem 0 0;
	float: right;
}


/* Portfolio Section: Left */

.portfolio .left {
	display: flex;
	margin-left: 10rem;
}

.portfolio .left .image {
	width: 47.5rem;
}

.portfolio .left .title {
	margin: 3rem 0 0 3rem;
}

.portfolio .left .title h2 {
	margin-left: -10rem;
}

.portfolio .left .title .description {
	margin-left: 5rem;
	color: #DFDFDF;
}

.portfolio .left .title .logos {
	margin: 2.5rem 0 0 1rem;
}

.portfolio .left .title .logos img {
	padding: 10px 15px !important;
	max-height: 55px !important;
}


/* Portfolio Section: Customers */

.portfolio .customers {
	position: relative;
	display: block;
	width: 100%;
}

.portfolio .customers h3 {
	font-family: 'Aesthico', sans-serif;
	font-size: 32pt;
	text-align: center;
}


/* STORIES
 =================================== */

.notfound .header,
.stories .header {
	margin-top: -3rem;
}

.notfound .header h1,
.stories .header h1 {
	position: relative;
	display: inline-block;
	font-family: 'Sharp Grotesk DB Cyr Medium 22', sans-serif;
	font-size: 92pt;
	background-color: black;
	padding: 0 75px;
	margin-left: -75px;
	z-index: 99;
}

.notfound .header h1 .letter,
.stories .header h1 .letter {
	display: inline-block;
}

.notfound .header hr,
.stories .header hr {
	position: absolute;
	margin: -12.75rem 0 15rem;
	z-index: -1;
	left: 0;
	width: 99.85%;
	overflow: hidden;
	border: 1px solid #666666;
}


/* STORY (ARTICLE)
 =================================== */

.story {
	display: block;
	position: relative;
}

.story .header {
	margin-top: 4rem;
}

.story .header h1 {
	position: relative;
	display: block;
	font-family: 'Sharp Grotesk DB Cyr Medium 22', sans-serif;
	font-size: 92pt;
	margin-left: -12rem;
	margin-top: 10rem;
	color: white;
	z-index: 399;
	max-width: 1100px;
}

.story .header .phantom {
	position: absolute;
	display: block;
	font-family: 'Sharp Grotesk DB Cyr Medium 22', sans-serif;
	font-size: 92pt;
	margin-top: -18rem;
	color: black;
	opacity: var(--opacityArticleTitle);
	text-shadow: 0 0 2px #181818,
		0 0 2px #181818,
		0 0 2px #181818,
		0 0 2px #181818;
	z-index: 0;
	pointer-events: none;
	user-select: none;
	max-width: 1100px;
}

.story .header h1:after {
	position: absolute;
	z-index: 0;
}

.story .header .word {
	display: inline-block;
}

.story .header .image {
	position: absolute;
	border-radius: 15px;
	margin-left: 30rem;
	margin-top: -45rem;
	z-index: 199;
	transition: filter .2s;
	filter: grayscale(.3);

	width: 1150px;
	height: 765px;
	object-fit: cover;
}

.story .header .image:hover {
	cursor: url("../static/images/cursors/cursor_magnify.svg") 60 60, auto;
	filter: grayscale(0);
	transition: filter .2s;
}

.story .header .image:focus,
.story .header .image:active {
	cursor: url("../static/images/cursors/cursor_magnify_focus.svg") 60 60, auto;
}

.story .header .author {
	position: absolute;
	z-index: 99;
	background-color: rgba(41, 41, 41, .6);
	display: inline-block;
	padding: 15px 18px;
	border-radius: 15px;
	margin: -6.75rem 0 0 12rem;
	transition: background-color .05s;
}

.story .header .author:hover {
	cursor: pointer;
	background-color: rgba(31, 31, 31, 1);
	transition: background-color .05s;
}

.story .header .author:focus,
.story .header .author:active {
	outline: 3px solid #444444;
	transition: background-color .05s;
}

.story .header .author img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	vertical-align: middle;
}

.story .header .author p small img {
	filter: invert(1);
	position: absolute;
	opacity: .4;
	border-radius: 0;
	height: 12px;
	width: 12px;
	margin-left: 4px;
	margin-top: -.156rem;
}

.story .header .author p {
	font-family: 'Shark Grotesk DB Cyr Medium 22', sans-serif;
	font-weight: normal;
	display: inline-block;
	margin: 0 17px;
	vertical-align: -.8rem;
	font-size: 13pt;
	text-align: left;
	line-height: .55rem;
}

.story .header .author small {
	font-family: 'SF Pro Display Thin', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #999999;
	display: inline-block;
	font-size: 9pt;
}

.story .article-content {
	padding-top: 15rem;
	margin: 5rem 5rem;
	font-family: 'SF Pro Display Thin', sans-serif;
	font-size: 18pt;
	line-height: 2.35rem;
	letter-spacing: .075rem;
	color: #D4D4D4;
}

.story .readmore hr {
	position: absolute;
	display: inline-block;
	margin: 2.5rem 0;
	z-index: -1;
	left: 0;
	width: 100%;
	overflow: hidden;
	border: 1px solid #666666;
}

.story .readmore h3 {
	font-family: 'Shark Grotesk DB Cyr Medium 22', sans-serif;
	font-weight: normal;
	font-size: 45pt;
	margin: 0;
	background-color: black;
	display: inline-block;
	padding: 0 2rem 0 0;
}


/* Article Meta Information */

.story .meta {
	display: block;
	margin: 2.5rem 5rem 8rem;
}

.story .meta > div {
	display: inline-block;
	position: relative;
	z-index: 99;
	background-color: #222222;
	padding: 30px 40px;
	border-radius: 15px;
	max-width: 50%;
	margin: 0 1.5rem 1.5rem 0;
}

.story .meta > div:hover {
	cursor: default;
	background-color: #191919;
}

.story .meta > div:nth-child(1):hover {
	cursor: url("../static/images/cursors/cursor_right.svg") 60 60, pointer;
}

.story .meta > div:focus,
.story .meta > div:active {
	transform: scale(.99);
}

.story .meta > div:nth-child(1):focus,
.story .meta > div:nth-child(1):active {
	cursor: url("../static/images/cursors/cursor_right_focus.svg") 60 60, pointer;
}

.story .meta .author-card img {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	object-fit: cover;
	vertical-align: -.35rem;
}

.story .meta .author-card .details {
	display: inline-block;
	margin: 0 2rem;
}

.story .meta > div .details h3 {
	font-family: 'Shark Grotesk DB Cyr Medium 22', sans-serif;
	font-weight: normal;
	font-size: 25pt;
	padding: 0;
	margin: -.25rem 0 .5rem;
}

.story .meta > div .details p {
	font-family: 'SF Pro Display Heavy', sans-serif;
	text-transform: uppercase;
	color: #888888;
	padding: 0;
	margin: 0;
	font-size: 13pt;
}


/* DESIGN LABS
 =================================== */

.labs .background {
	position: absolute;
	height: 100%;
	width: 100%;

	background-position: -510px;
	background-repeat: no-repeat;
	background-size: 120%;
	margin-top: -16.5rem;
	z-index: -99;
	filter: brightness(.8);
}

.labs .background::after {
	position: relative;
	width: 100%;
	height: 100%;
	content: '';
	background: linear-gradient(180deg, rgba(0,0,0,0) 45%, rgba(30,40,65,1) 80%);
	display: block;
}

.labs .header {
	margin-top: 5rem;
}

.labs .header h1 {
	font-family: 'Aesthico', sans-serif;
	font-size: 48pt;
	color: white;
	mix-blend-mode: overlay;
	text-align: right;
	margin-bottom: 2.5rem;
}

.labs .header p {
	text-align: right;
	font-family: 'SF Pro Display Thin', sans-serif;
	color: white;
	mix-blend-mode: overlay;
	font-size: 14pt;
}

.labs .disclaimer {
	position: relative;
	display: block;
	float: right;
	width: 350px;
	text-align: center;
	font-family: 'SF Pro Display Thin', sans-serif;
	letter-spacing: .5pt;
	color: rgba(255, 255, 255, .9);
	background-color: rgba(0, 0, 0, .3);
	border-radius: 25px;
	padding: 12px 25px;
	font-size: 15pt;
	backdrop-filter: blur(30px);
}


/* CLIMATE
 =================================== */

.climate .heading h1 {
	position: relative;
	font-family: 'Sharp Grotesk DB Cyr Medium 22', serif;

	font-size: 100pt;
	font-weight: bold;
	letter-spacing: -2pt;
	line-height: 115pt;

	max-width: 1000px;
	margin-top: 8rem;
	margin-bottom: 0;
}

.climate .heading h1 .word {
	display: inline-block;
}

.climate h2 span {
	color: lightgreen !important;
}

.climate a {
	color: inherit;
}

.climate a:hover {
	color: darkseagreen;
}

.climate a::after {
	content: ' 🡕';
}

.climate .logos {
	margin: 2rem 0 7rem -10px;
}

.climate .logos img {
	padding: 10px 15px;
	max-height: 60px;
	width: auto;
}




/* NOTFOUND
 =================================== */

.notfound {
	/* margin: 22rem auto; */
	margin: 10% auto;
}


/* META
 =================================== */

.page-text h1 {
	font-family: 'Sharp Grotesk DB Cyr Medium 22', sans-serif;
	text-align: center;
	font-size: 62pt;
	margin: 40px 0 20px;
}

ul.breadcrumbs,
.page-text ul.breadcrumbs {
	margin-bottom: 40px;
	text-align: center;
	color: #C8C8C8;
	list-style-type: none;
	padding: 0;
	font-family: 'SF Pro Display Regular', sans-serif;
	font-size: 12.5pt;
	text-transform: uppercase;
}

ul.breadcrumbs li,
.page-text ul.breadcrumbs li {
	display: inline-block;
}

ul.breadcrumbs li a,
.page-text ul.breadcrumbs li a {
	color: inherit;
	text-decoration: none;
}

ul.breadcrumbs li a:hover,
.page-text ul.breadcrumbs li a:hover {
	color: white;
}

ul.breadcrumbs li:not(:last-child)::after,
.page-text ul.breadcrumbs li:not(:last-child)::after {
	content: '/';
	padding: 0 15px;
	color: #777777;
}

.notfound a,
.page-text a {
	color: inherit;
	text-decoration: none;
	background-position-y: 20%;
	background-image: linear-gradient(black 50%, rgb(47, 47, 47) 50%);
	transition: background 150ms ease;
	background-size: auto 175%;
	padding: 0 2px;
}

.notfound a:hover,
.page-text a:hover {
	background-position-y: 80%;
}

.notfound ul.breadcrumbs,
.stories ul.breadcrumbs {
	position: relative;
	display: inline-block;
	background-color: black;
	float: right;
	margin-top: 189px;
	margin-right: -15px;
	padding: 0 25px;
}

.page-text .page-text-content {
	margin: 0 15rem;
}

.page-text .page-text-content p {
	color: #D1D1D1;
	font-family: 'SF Pro Display Thin', sans-serif;
	letter-spacing: .4pt;
	font-size: 14pt;
	text-align: justify;
}

.page-text .page-text-content h2 {
	font-family: 'SF Pro Display Thin', sans-serif;
	letter-spacing: .7pt;
	color: #DFDFDF;
	padding: 25px 0 0;
	font-size: 24pt;
	font-weight: bold;
	text-transform: uppercase;
}

.page-text .page-text-content ul {
	list-style-type: lower-alpha;
}

.page-text .page-text-content ul li::marker {
	content: counter(list-item, lower-alpha) ')  ';
	font-family: 'SF Pro Display Thin', sans-serif;
	letter-spacing: .5pt;
	font-size: 14pt;
	color: #BFBFBF;
}

.page-text .page-text-content h3 {
	font-family: 'SF Pro Display Thin', sans-serif;
	letter-spacing: .5pt;
	color: #DFDFDF;
	padding: 15px 0 0;
	margin: 0 0 -8px;
	font-size: 20pt;
	font-weight: normal;
}

.page-text .page-text-content.paper {
	background-color: white;
	padding: 20px 50px;
	color: black;
}

.page-text .page-text-content.paper p {
	color: black;
}


::-webkit-scrollbar {
	width: 6px; /* For vertical scrollbars */
	height: 6px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: #111111;
}

::-webkit-scrollbar-thumb {
	background: #444444;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555555;
}

small {
	display: block;
	padding: 12px 0 0;
	margin: 0;
	font-size: 10pt;
	color: #888888;
}


/* FORMS
 =================================== */

button {
	background-color: white;
	color: #444444;
	font-family: 'SF Pro Display Heavy', sans-serif;
	font-size: 14pt;
	text-align: center;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	text-transform: uppercase;
}

button:hover {
	cursor: pointer;
	opacity: .8;
}

.dashboard .card button {
	margin: 10px 0 4px -3px;
}


/* PRELOADER
 =================================== */

.preloader {
	margin: 35vh auto 45vh;
}

.preloader .spinner {
	border: 2px solid #222222;
	border-top: 2px solid white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin .4s linear infinite;
	margin: 0 auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.preloader p {
	margin: 0 auto 0 12px;
	text-align: center;
	font-family: 'SF Pro Display Thin', sans-serif;
	letter-spacing: .1rem;
	text-transform: uppercase;
	color: #666666;
	padding: 20px 0;
	font-size: 9pt;
}


/* FOOTER
 =================================== */

footer {
	position: relative;
	z-index: 99;
	font-family: 'SF Pro Display Medium', sans-serif;
	padding: 80px 0;
	display: block;
	color: #B0B0B0;
}

footer .left,
footer .right {
	padding: 0 20px;
	display: inline-block;
}

footer .right {
	float: right;
	padding-top: 10pt;
}

footer .copyright {
	color: #666666;
	line-height: 16pt;
	transition: color .2s;
}

footer:hover .copyright {
	color: #777777;
	transition: color .2s;
}

footer ul {
	list-style-type: none;
	margin: 0;
}

footer ul li {
	display: inline-block;
	padding: 0 0 0 20px;
}

footer a {
	color: inherit;
	text-decoration: none;
}

footer a:hover {
	color: white;
	border-bottom: 1px solid white;
}

footer a:active,
footer a:focus {
	color: #DCDCDC;
	border-bottom-color: #DCDCDC;
}


/* iMessage */

.imessage {
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	font-family: 'San Francisco', sans-serif;
	font-size: 1.25rem;
	margin: 0 auto 1rem;
	max-width: 600px;
}

.imessage p {
	transform: scale(1.25);
	border-radius: 1.15rem;
	line-height: 1.25;
	max-width: 75%;
	padding: 1rem 1.5rem;
	position: relative;
	word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
	bottom: -0.1rem;
	content: "";
	height: 1rem;
	position: absolute;
}

p.from-me {
	background-image: linear-gradient(180deg, rgba(233,233,233,1) 0%, rgba(209,209,209,1) 100%);
	color: #444444;
}

p.from-me::before {
	border-bottom-left-radius: 0.8rem 0.7rem;
	border-right: 1rem solid #d1d1d1;
	right: -0.35rem;
	transform: translate(0, -0.1rem);
}

p.from-me::after {
	background-color: black;
	border-bottom-left-radius: 0.5rem;
	right: -40px;
	transform:translate(-30px, -2px);
	width: 10px;
}

p.from-them {
	background-image: linear-gradient(180deg, rgba(233,233,233,1) 0%, rgba(209,209,209,1) 100%);
	color: #444444;
}

p.from-them:before {
	border-bottom-right-radius: 0.8rem 0.7rem;
	border-left: 1rem solid #d1d1d1;
	left: -0.35rem;
	transform: translate(0, -0.1rem);
}

p.from-them::after {
	background-color: black;
	border-bottom-right-radius: 0.5rem;
	left: 20px;
	transform: translate(-30px, -2px);
	width: 10px;
}


/* Highlighted */

.highlighted {
	position: relative;
	color: white;
}

.highlighted::before {
	/* Highlight color */
	background-color: black;

	content: "";
	position: absolute;
	width: calc(100% + 100px);
	height: 90%;
	left: -50px;
	bottom: 25px;
	z-index: -1;
}



/* RESPONSIVE DESIGN
 =================================== */

@media (max-width: 1920px) {
	.container {
		max-width: 1325px;
		margin: 0 auto;
	}

	.container-wide {
		max-width: 1620px;
		margin: 0 auto;
	}

	.promo {
		margin-bottom: -3rem;
	}

	.promo h1 {
		font-size: 70pt;
		margin: 10rem 0 10rem 2rem;
		padding-bottom: 0;
		line-height: 120pt;
		max-width: 1300px;
		padding-left: 10px;
	}

	.dashboard .card {
		min-height: 300px;
	}

	.dashboard .card p {
		font-size: 13.5pt;
	}

	.dashboard .card h2 {
		font-size: 55pt;
		line-height: 58pt;
	}

	.dashboard .card p.cutoff {
		max-height: 220px;
	}

	.stories .dashboard .card h3 {
		font-size: 18pt;
		line-height: 40pt;
	}

	/* Portfolio */
	.portfolio .intro .intro_container {
		margin-top: 15rem;
	}

	.portfolio .intro .intro_container .title h1 {
		font-size: 87pt;
	}

	.portfolio .intro .intro_container .title p {
		font-size: 28pt;
		margin-top: -9rem;
		margin-right: 20rem;
	}


}