body {
	margin: 0;
	padding: 0;
	border: 0;
	/* background-color: #20CE99; */
	/* background-color: #006464; */
	/* background: linear-gradient(90deg, rgba(0,57,100,1) 0%, rgba(0,100,100,1) 68%); */
	background-color: black;
	background-image: none;
	/* background-image: linear-gradient(90deg, rgb(44, 32, 38) 0%, rgb(91, 98, 107) 100%); */

	transition: background-color .3s ease-in-out;
	color: white;
	min-height: 100vh;

	overflow-y: scroll;
}

body .pattern {
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('../static/images/pattern.svg');
	background-repeat: repeat;
	background-size: 600px;
	opacity: .2;
	width: 150%;
	height: 150%;
	z-index: -1;
	overflow: hidden;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

::selection {
	background-color: rgba(255, 255, 255, .8);
	color: black;
}

.scroll-container > section {
	height: 100vh;
	position: sticky;
}

.scroll-container > section > h2 {
	margin: 0;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.container-wide {
	max-width: 1920px;
	margin: 0 auto;
}


/* LOGO
 =================================== */

.logo {
	font-family: 'Aesthico', sans-serif;
	padding: 40px;
	font-size: 20pt;
}

.logo a {
	color: inherit;
	text-decoration: none;
}

.logo img {
	max-height: 30px;
	opacity: .7;
	transition: none;
}

.logo img:hover {
	opacity: 1;
}

.logo img:focus,
.logo img:active {
	border: 1px solid #BFBFBF;
	padding: 10px 15px 15px;
	margin: -8px 0 -16px -16px;
	transition: none;
}


/* FONTS
 =================================== */

/* Promo */

@font-face {
	font-family: 'Aesthico';
	src: url("../static/fonts/Aesthico.ttf") format("truetype");
}

/* Portfolio Roles */

@font-face {
	font-family: 'Montserrat Light Alt1';
	src: url("../static/fonts/Montserrat-Light-Alt1.otf") format("opentype");
}

/* General */

@font-face {
	font-family: 'Roboto Thin';
	src: url("../static/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
	font-family: 'Roboto Light';
	src: url("../static/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'Roboto Regular';
	src: url("../static/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Roboto Medium';
	src: url("../static/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'Roboto Black';
	src: url("../static/fonts/Roboto-Black.ttf") format("truetype");
}


/* PROMO SECTION
 =================================== */

.promo {
	padding: 30px;
}

.promo img {
	height: 25px;
	margin: 0 45px;
	opacity: .85;
	/* mix-blend-mode: difference; */
}

.promo h1 {
	position: relative;
	overflow: hidden;

	transform: translateY(-60%);

	font-family: 'Aesthico', serif;
	font-size: 78pt;
	font-weight: normal;
	/* mix-blend-mode: difference; */
	opacity: .95;
	margin: 32.5rem 0 0 2rem;
	line-height: 150pt;

	max-width: 1600px;

	color: white;
	padding-left: 10px;
}

.promo h1 .word {
	display: inline-block;
}

.promo h1 span {
	padding-left: 10px;
}


/* DASHBOARD SECTION
 =================================== */

.dashboard {
	margin-top: 10px;
}

.dashboard .scrolldown {
	margin: 0 auto 25px;
}

.dashboard .scrolldown img {
	height: 100px;
}

.dashboard > .card {
	background-color: #222222;
	border-radius: 15px;
	padding: 40px 50px;
	transition: .2s transform;
	transform: scale(1);
}

.dashboard > .card:hover {
	transform: scale(1.01);
	transition: .2s transform;
	cursor: pointer;
}

.dashboard > .card:focus,
.dashboard > .card:active {
	transform: scale(.99);
	transition: .2s transform;
}

.dashboard > .card.article.article-big > div.thumbnail {
	max-width: calc(100% + 20px);
	border-radius: 15px 0 0 15px;
	margin: -40px 0 -40px -50px;
	background-position: center;
	background-size: cover;
	height: calc(100% + 80px);
}

.dashboard > .card.article > div.thumbnail {
	max-width: calc(100% + 200px);
	height: 300px;
	border-radius: 15px 15px 0 0;
	margin: -40px -50px -40px -50px;
	background-position: center;
	background-size: cover;
}

.dashboard > .separator {
	opacity: .8;
	width: calc(100% - 20px);
	text-align: center;
	border-top: 1px solid #555555;
	line-height: 0;
	margin: 15px 0 18px 10px;
}

.dashboard > .separator span {
	padding: 0 15px;
	background-color: black;
	font-family: 'Roboto Regular', sans-serif;
	color: #777777;
	text-transform: uppercase;
}

.dashboard > .card img#cover_webdev {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 15px;
	height: 450px;
	z-index: -1;
	opacity: .4;
	filter: blur(5px);
}

.dashboard > .card img#cover_design {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 15px;
	height: 480px;
	z-index: -1;
	opacity: .2;
	filter: blur(5px);
}

.dashboard > .card img#cover_stories {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 15px;
	height: 360px;
	z-index: -1;
	opacity: .1;
	filter: blur(0px);
}

.dashboard > .card h2 {
	font-family: 'Roboto Medium', sans-serif;
	line-height: 70pt;
	font-size: 65pt;
	margin: 0;
	hyphens: auto;
	word-wrap: break-word;
}

.dashboard > .card.article.article-big h3 {
	font-family: 'Aesthico', sans-serif;
	font-size: 25pt;
	line-height: 50pt;
	font-weight: normal;
	color: white;
	margin: 3px 0 40px -200px;
	background-color: #1F1F1F;
	box-shadow: #111111 5px 10px 100px;
	padding: 30px 40px;
	border-radius: 15px;
}

.dashboard > .card.article h3 {
	font-family: 'Aesthico', sans-serif;
	font-size: 20pt;
	line-height: 45pt;
	font-weight: normal;
	color: white;
	padding: 75px 0 10px;
	margin: 0;
	border-radius: 15px;
}

.dashboard > .card p {
	font-family: 'Roboto Medium', sans-serif;
	color: #BFBFBF;
	max-width: 700px;
	font-size: 14pt;
}

.dashboard > .card.article p {
	max-width: none;
}

.dashboard > .card.article p {
	font-family: 'Roboto Regular', sans-serif;
}

.dashboard > .card p.cutoff {
	max-height: 250px;
	overflow-y: scroll;
	padding-right: 20px;
}

.dashboard > .card p.cutoff::-webkit-scrollbar-track {
	background: #666666;
	border-radius: 15px;
}

.dashboard > .card p.cutoff::-webkit-scrollbar-thumb {
	background: #999999;
	border-radius: 15px;
}

.dashboard > .card p.cutoff::-webkit-scrollbar-thumb:hover {
	background: white;
}

.dashboard > .card p.cutoff::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 15px;
	background: linear-gradient(transparent 250px, rgba(34, 34, 34, 1));
}

.dashboard > .card p.cutoff.stdsmall::before {
	background: linear-gradient(transparent 450px, rgba(34, 34, 34, 1));
}

.dashboard > .card p.cutoff.blue::before {
	background: linear-gradient(transparent 250px, rgba(24, 38, 58, 1));
}

.dashboard > .card p.tags {
	color: rgba(255, 255, 255, .45);
	font-family: 'Roboto Light', sans-serif;
}


/* Grid System */

.grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

.grid .span-2 {
	grid-column: span 2;
}

.grid .span-3 {
	grid-column: span 3;
}


/* HEADER
 =================================== */

header {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	position: relative;
	z-index: 99;
}

.nav {
	margin-top: 2.5rem;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

.nav ul li {
	margin: 0 10px;
	display: inline-block;
}

.nav ul li a {
	display: block;
	color: #F6F6F6;
	padding: 20px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto Thin', sans-serif;
	font-size: 18pt;

	font-weight: 700;
	text-shadow: none;
}

.nav ul li a.active::before,
.nav ul li a.active span {
	/* font-family: 'Roboto Regular', sans-serif; */
}

.nav ul li a span {
	display: block;
	pointer-events: none;
	-webkit-transition: transform .3s, opacity .15s;
	-moz-transition: transform .3s, opacity .15s;
	transition: transform .3s, opacity .15s;
}

.nav ul li a:hover span,
.nav ul li a:focus span {
	display: block;
	transform: translateY(-.375em);
	-webkit-transition: transform .2s ease, opacity .15s;
	-moz-transition: transform .2s ease, opacity .15s;
	transition: transform .2s ease, opacity .15s;
	mix-blend-mode: difference;
}

.nav ul li a::before {
	display: block;
	opacity: 0;
	color: white;
	content: attr(data-hover);
	position: absolute;
	transform: scale(1, -1);
	-webkit-transition: -webkit-transform .3s, opacity .15s;
	-moz-transition: -moz-transform .3s, opacity .15s;
	transition: transform .3s, opacity .15s;
}


.nav ul li a:hover::before,
.nav ul li a:focus::before {
	display: block;
	transform: translateY(.375em) scale(1, -1);
	opacity: .4;
	-webkit-transition: -webkit-transform .2s ease-out, opacity .15s;
	-moz-transition: -moz-transform .2s ease-out, opacity .15s;
	transition: transform .2s ease-out, opacity .15s;
	mix-blend-mode: difference;
}


/* PORTFOLIO
 =================================== */

.portfolio {
	margin: 5rem auto;
}

.portfolio .portfolio_intro {
	margin-left: 5rem;
	margin-top: -214px;
}

.portfolio .portfolio_intro .intro_container {
	display: flex;
	transform: translateY(25%);
}

.portfolio .portfolio_intro .intro_container img {
	width: 37.5%;
	height: auto;
	filter: grayscale(1);
	overflow: hidden;
	position: relative;
	display: inline-block;
	transition: .2s filter;
	border-radius: 15px;
}

.portfolio .portfolio_intro .intro_container img:hover {
	filter: none;
	transition: .2s filter;
}

.portfolio .portfolio_intro .intro_container .title {
	margin-left: -13rem;
}

.portfolio .portfolio_intro .intro_container .title h1 {
	position: relative;

	font-family: 'Aesthico', sans-serif;
	font-size: 108pt;
}

.portfolio .portfolio_intro .intro_container .title h1 .letter {
	display: inline-block;
}

.portfolio .portfolio_intro .intro_container .title p {
	position: relative;
	margin-top: -11rem;
	margin-right: 25.5rem;

	text-align: right;
	font-family: 'Montserrat Light Alt1', sans-serif;
	font-size: 35pt;
	text-transform: uppercase;
}

.portfolio .portfolio_intro .intro_container .title p .role {
	opacity: 0;
	position: relative;
	display: block;
}

.portfolio .portfolio_intro .intro_container .title p .role a {
	text-decoration: none;
	color: inherit;
	opacity: .6;
	display: inline-block;
	transition: .2s transform;
}

.portfolio .portfolio_intro .intro_container .title p .role a:hover,
.portfolio .portfolio_intro .intro_container .title p .role a.active {
	transform: translateX(10px);
	transition: .2s transform;
}


/* Webdev */

.portfolio .portfolio_webdev img.show {
	width: 37.5%;
	height: auto;
	filter: grayscale(1);
	overflow: hidden;
	position: absolute;
	right: 250px;
	top: 200px;
	display: inline-block;
	transition: .2s filter;

	border-radius: 15px;
}

.portfolio .portfolio_webdev img:hover {
	filter: none;
	transition: .2s filter;
}

.portfolio .portfolio_webdev .title h1 {
	position: relative;

	font-family: 'Aesthico', sans-serif;
	font-size: 90pt;
	text-align: right;

	margin: 200px 80px 100px 0;
	line-height: 125pt;
}

.portfolio .portfolio_webdev .title {
	position: relative;
	z-index: 99;
	margin-top: 125px;
	display: inline-block;
}

.portfolio .portfolio_webdev .title .description {
	color: #DFDFDF;
	font-size: 20pt;
	font-family: 'Roboto Light', sans-serif;
	width: 900px;
	margin-top: 125px;
	margin-left: 50px;
}

.portfolio .portfolio_webdev .title .logos {
	margin: 50px 0 0 230px;
	filter: grayscale(.7);
	transition: filter .2s;
}

.portfolio .portfolio_webdev .title .logos:hover {
	filter: grayscale(0);
	transition: filter .2s;
}

.portfolio .portfolio_webdev .title .logos img {
	padding: 10px 15px;
	max-height: 60px;
	width: auto;
}

.portfolio .portfolio_webdev .title .skills {
	margin-top: 90px;
	margin-left: 510px;
	width: 610px;
}




/* Video */

.portfolio .portfolio_video img.show {
	width: 37.5%;
	height: auto;
	filter: grayscale(1);
	overflow: hidden;
	position: absolute;
	right: 250px;
	top: 200px;
	display: inline-block;
	transition: .2s filter;

	border-radius: 15px;
}

.portfolio .portfolio_video img:hover {
	filter: none;
	transition: .2s filter;
}

.portfolio .portfolio_video .title h1 {
	position: relative;

	font-family: 'Aesthico', sans-serif;
	font-size: 90pt;
	text-align: right;

	margin: 200px -110px 70px 0;
	line-height: 150pt;
}

.portfolio .portfolio_video .title {
	position: relative;
	z-index: 99;
	margin-top: 125px;
	display: inline-block;
}

.portfolio .portfolio_video .title .description {
	color: #DFDFDF;
	font-size: 20pt;
	font-family: 'Roboto Light', sans-serif;
	width: 900px;
	margin-top: 25px;
	margin-left: 50px;
}

.portfolio .portfolio_video .title .logos {
	margin: 50px 0 0 500px;
	filter: grayscale(.7);
	transition: filter .2s;
}

.portfolio .portfolio_video .title .logos:hover {
	filter: grayscale(0);
	transition: filter .2s;
}

.portfolio .portfolio_video .title .logos img {
	padding: 10px 12px;
	max-height: 50px;
	width: auto;
}

.portfolio .portfolio_video .title .skills {
	margin-top: 90px;
	margin-left: 510px;
	width: 610px;
}



/* STORIES
 =================================== */

.stories {

}

.notfound .header,
.stories .header {
	margin-top: -3rem;
}

.notfound .header h1,
.stories .header h1 {
	position: relative;
	display: inline-block;
	font-family: 'Aesthico', sans-serif;
	font-size: 74pt;
	background-color: black;
	padding: 0 75px;
	margin-left: -75px;
	z-index: 99;
}

.notfound .header h1 .letter,
.stories .header h1 .letter {
	display: inline-block;
}

.notfound .header hr,
.stories .header hr {
	position: absolute;
	margin: -12.5rem 0 15rem;
	z-index: -1;
	left: 0;
	width: 99.85%;
	overflow: hidden;
	border: 1px solid #666666;
}


/* DESIGN LABS
 =================================== */

.labs .background {
	position: absolute;
	height: 100%;
	width: 100%;

	background-position: -510px;
	background-repeat: no-repeat;
	background-size: 120%;
	margin-top: -16.5rem;
	z-index: -99;
	filter: brightness(.8);
}

.labs .background::after {
	position: relative;
	width: 100%;
	height: 100%;
	content: '';
	background: linear-gradient(180deg, rgba(0,0,0,0) 45%, rgba(30,40,65,1) 80%);
	display: block;
}

.labs .header {
	margin-top: 5rem;
}

.labs .header h1 {
	font-family: 'Aesthico', sans-serif;
	font-size: 48pt;
	color: white;
	mix-blend-mode: overlay;
	text-align: right;
	margin-bottom: 2.5rem;
}

.labs .header p {
	text-align: right;
	font-family: 'Roboto Medium', sans-serif;
	color: white;
	mix-blend-mode: overlay;
	font-size: 14pt;
}

.labs .disclaimer {
	position: relative;
	display: block;
	float: right;
	width: 350px;
	text-align: center;
	font-family: 'Roboto Thin', sans-serif;
	color: rgba(255, 255, 255, .9);
	background-color: rgba(0, 0, 0, .3);
	border-radius: 25px;
	padding: 12px 25px;
	font-size: 15pt;
	backdrop-filter: blur(30px);
}


/* NOTFOUND
 =================================== */

.notfound {
	margin: 22rem auto;
}


/* META
 =================================== */

.page-text h1 {
	font-family: 'Aesthico', sans-serif;
	text-align: center;
	font-size: 32pt;
	margin: 40px 0 20px;
}

ul.breadcrumbs,
.page-text ul.breadcrumbs {
	margin-bottom: 40px;
	text-align: center;
	color: #C8C8C8;
	list-style-type: none;
	padding: 0;
	font-family: 'Roboto Regular', sans-serif;
	font-size: 13pt;
	text-transform: uppercase;
}

ul.breadcrumbs li,
.page-text ul.breadcrumbs li {
	display: inline-block;
}

ul.breadcrumbs li a,
.page-text ul.breadcrumbs li a {
	color: inherit;
	text-decoration: none;
}

ul.breadcrumbs li a:hover,
.page-text ul.breadcrumbs li a:hover {
	color: white;
}

ul.breadcrumbs li:not(:last-child)::after,
.page-text ul.breadcrumbs li:not(:last-child)::after {
	content: '/';
	padding: 0 15px;
	color: #777777;
}

.page-text a {
	color: inherit;
	text-decoration: none;
	background-position-y: 20%;
	background-image: linear-gradient(black 50%, rgb(47, 47, 47) 50%);
	transition: background 150ms ease;
	background-size: auto 175%;
	padding: 0 2px;
}

.page-text a:hover {
	background-position-y: 80%;
}

.notfound ul.breadcrumbs,
.stories ul.breadcrumbs {
	position: relative;
	display: inline-block;
	background-color: black;
	float: right;
	margin-top: 189px;
	margin-right: -15px;
	padding: 0 25px;
}

.page-text .page-text-content {
	margin: 0 15rem;
}

.page-text .page-text-content p {
	color: #D1D1D1;
	font-family: 'Roboto Light', sans-serif;
	font-size: 14pt;
	text-align: justify;
}

.page-text .page-text-content h2 {
	font-family: 'Roboto Thin', sans-serif;
	color: #DFDFDF;
	padding: 25px 0 0;
	font-size: 24pt;
	font-weight: bold;
	text-transform: uppercase;
}

.page-text .page-text-content ul {
	list-style-type: lower-alpha;
}

.page-text .page-text-content ul li::marker {
	content: counter(list-item, lower-alpha) ')  ';
	font-family: 'Roboto Light', sans-serif;
	font-size: 14pt;
	color: #BFBFBF;
}

.page-text .page-text-content h3 {
	font-family: 'Roboto Thin', sans-serif;
	color: #DFDFDF;
	padding: 15px 0 0;
	margin: 0 0 -8px;
	font-size: 20pt;
	font-weight: normal;
}


::-webkit-scrollbar {
	width: 6px; /* For vertical scrollbars */
	height: 6px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: #111111;
}

::-webkit-scrollbar-thumb {
	background: #444444;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555555;
}

small {
	display: block;
	padding: 12px 0 0;
	margin: 0;
	font-size: 10pt;
	color: #888888;
}


/* FORMS
 =================================== */

button {
	background-color: white;
	color: #444444;
	font-family: 'Roboto Black', sans-serif;
	font-size: 14pt;
	text-align: center;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	text-transform: uppercase;
}

button:hover {
	cursor: pointer;
	opacity: .8;
}


/* FOOTER
 =================================== */

footer {
	position: relative;
	z-index: 99;
	font-family: 'Roboto Regular', sans-serif;
	padding: 70px 600px;
	color: #B0B0B0;
}

footer .left,
footer .right {
	display: inline-block;
}

footer .right {
	float: right;
	padding-top: 10pt;
}

footer .copyright {
	color: #666666;
	line-height: 16pt;
	transition: color .2s;
}

footer:hover .copyright {
	color: #777777;
	transition: color .2s;
}

footer ul {
	list-style-type: none;
	margin: 0;
}

footer ul li {
	display: inline-block;
	padding: 0 0 0 20px;
}

footer a {
	color: inherit;
	text-decoration: none;
}

footer a:hover {
	color: white;
	border-bottom: 1px solid white;
}

footer a:active,
footer a:focus {
	color: #DCDCDC;
	border-bottom-color: #DCDCDC;
}


/* iMessage */

.imessage {
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	font-family: 'San Francisco', sans-serif;
	font-size: 1.25rem;
	margin: 0 auto 1rem;
	max-width: 600px;
	padding: 0.5rem 1.5rem;
}

.imessage p {
	transform: scale(1.25);
	border-radius: 1.15rem;
	line-height: 1.25;
	max-width: 75%;
	padding: 1rem 1.5rem;
	position: relative;
	word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
	bottom: -0.1rem;
	content: "";
	height: 1rem;
	position: absolute;
}

p.from-me {
	align-self: flex-end;
	background-image: linear-gradient(180deg, rgba(233,233,233,1) 0%, rgba(209,209,209,1) 100%);
	color: #444444;
}

p.from-me::before {
	border-bottom-left-radius: 0.8rem 0.7rem;
	border-right: 1rem solid #d1d1d1;
	right: -0.35rem;
	transform: translate(0, -0.1rem);
}

p.from-me::after {
	background-color: black;
	border-bottom-left-radius: 0.5rem;
	right: -40px;
	transform:translate(-30px, -2px);
	width: 10px;
}

p[class^="from-"] {
	margin: 0.5rem 0;
	width: fit-content;
}

p.from-me ~ p.from-me {
	margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
	margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
	margin-bottom: 0.5rem;
}

p.from-them {
	align-items: flex-start;
	background-color: #e5e5ea;
	color: #000;
}

p.from-them:before {
	border-bottom-right-radius: 0.8rem 0.7rem;
	border-left: 1rem solid #e5e5ea;
	left: -0.35rem;
	transform: translate(0, -0.1rem);
}

p.from-them::after {
	background-color: black;
	border-bottom-right-radius: 0.5rem;
	left: 20px;
	transform: translate(-30px, -2px);
	width: 10px;
}


/* Skills */

.skill-name {
	font-size: 18px;
	font-weight: 700;
	color: #f1f1f1;
	text-transform: uppercase;
	margin: 20px 0;
	font-family: 'Roboto Light', sans-serif;
}

.skill-bar {
	height: 14px;
	background: #282828;
	border-radius: 10px;
}

.skill-per {
	height: 14px;
	background: linear-gradient(270deg, rgba(233,233,233,01) 0%, rgba(209,209,209,.6) 100%);
	border-radius: 10px;
	position: relative;
	animation: fillBars 2.5s 1;
}

.skill-per::before {
	color: black;
	content: attr(data-per);
	font-family: 'Roboto Light', sans-serif;
	position: absolute;
	padding: 4px 8px;
	background: #f1f1f1;
	border-radius: 4px;
	font-size: 12px;
	top: -35px;
	right: 0;
	transform: translateX(50%);
}

.skill-per::after {
	content: "";
	position: absolute;
	width: 8px;
	height: 7px;
	background: #f1f1f1;
	top: -17px;
	right: 0;
	transform: translateX(50%) rotate(45deg);
}

@keyframes fillBars {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}


/* Highlighted */

.highlighted {
	position: relative;
	color: white;
}

.highlighted::before {
	/* Highlight color */
	background-color: black;

	content: "";
	position: absolute;
	width: calc(100% + 100px);
	height: 90%;
	left: -50px;
	bottom: 25px;
	z-index: -1;
}